html{
  margin: 0;
  padding: 0;
  width: 100%;
}body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: cover;
  display: block;
 
  
}
.logo{
  float: left;
  color: rgb(8, 89, 106);
  margin-left: 46px;
  padding: 0px 38px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.logo a{
  text-decoration: none;
  color: rgb(8, 89, 106);
}
.nav{
  position: fixed;
  top: 0;
  left:  0;
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  background: linear-gradient(135deg, rgb(0, 255, 0), rgb(0, 255, 191));
}
  
.nav ul{
  list-style: none;
  cursor: pointer;
  float: right;
  margin-right: 140px;
}
.nav ul li {
  list-style: none;
  display: inline-block;
  color:rgb(8, 89, 106);
  font-family: 'Raleway', sans-serif;
  padding: 15px 15px;
  font-weight: 400;
}
.nav ul li:hover{
  border-bottom: 3px solid rgb(8, 89, 106);
  transition: all .3s ease;

}
.down {
  float: left;
  margin-top: 100px;
  margin-left: 10vw;
}
.down img {
  width: 500px;
}
.word {
  float: right;
  margin-top: 150px;
  margin-right: 10vw;
  width: 500px;
}
.header{
  text-align: center;

}
.header h1{
  color: rgb(8, 89, 106);
  text-align: left;
  margin-bottom: 15px;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 50px;
}
.header span{
  color: rgb(8, 89, 106);
}
.tagline{
text-align: center;
}
.tagline p{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: left;
  color: rgb(8, 89, 106);
}
